<!DOCTYPE html>
<html>
    <head>
        {% block title -%}
        {% if title %}
            <title>{{title}}</title>
        {% else %}
            <title>Blog</title>
        {% endif %}
        {% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="shortcut icon" href="/static/images/ico.png" type="image/x-icon"/>

    </head>
    <body>
        
        <div class="wrapper">
            <div class="page">

            {% block mainmenu -%}
            <ul class="mainmenu">

                <li class="logo"><a style="height:100%; display:block;" href="{{url_for('index')}}"><div class="logo"></div></a></li>
            {% for m in menu %}
                <li><a href="{{m.url}}">{{m.name}}</a></li>
            {% endfor %}
                {% if current_user.is_authenticated %}
                    <li class="last"><a href="{{url_for('profile')}}"> {{current_user.getName()}}</a> | <a href="{{url_for('logout')}}">Выйти</a></li>
                {% else %}
                    <li class="last"><a href="{{url_for('register')}}">Регистрация</a> | <a href="{{url_for('login')}}">Войти</a></li>
                {% endif %}

            </ul>
            {% endblock mainmenu -%}

            <div class="content">
            {% block content -%}

            {% endblock -%}
            </div>
        </div>
        <div class="footer">
            <p>
            <p> </p>
                © 2022 Частичное или полное копирование информации с данного сайта
            <p>для распространения на других ресурсах, в том числе и бумажных,  разрешено.
            </p>
        </div>
    </div>
        
        


        
            
    </body>
</html>

