{% extends 'admin/base_admin.html' %}

{% block content %}
{{ super() }}
<h3>{{title}}</h3>
<ul class="list-posts">
{% for p in list %}
<li>
    <div class="title">{{p.name}}

    <div style="float: right">
        <form action="/delete_user" method="POST">
        <button type="submit" formaction="{{url_for('admin.delete_user', alias=p.id)}}">Удалить пользователя</button>
        </form>
    </div>
    <div style="float: right">
        <form action="/activate_user" method="POST">
        <button type="submit" formaction="{{url_for('admin.activate_user', alias=p.id)}}">Активировать пользователя</button>
        </form>
    </div>
    </div>
    <p class="annonce">{{p.email}}</p>
</li>
{% endfor %}
</ul>
{% endblock %}
