{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class="article">
<h1>{{title}}</h1>
<br>
{{post | safe}}
</div>
<hr>
<div class="comments">
<h3>Комментарии</h3>
<br>
{% if current_user.is_authenticated %}
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    <form action="" method="post", class="form-comment">
    {{ form.hidden_tag() }}

    {% for field in form if field.name not in ['csrf_token' ] %}

        {% if field.errors %}
        {{ field(class='invalid') }}
        <span class="invalid-feedback">
            {% for e in field.errors %}
            {{ e }}
            {% endfor %}
        </span>
        {% else %}
        {{ field() }}
        {% endif %}
        {% endfor %}

    </form>
{% endif %}
<ul class="list-comments">
{% for c in comments %}
<li>
    <p class="title">

        <span class="comment-profile-ava img"><img src="{{url_for('useridava', id=c.id)}}"></span>
        {{c.name}}
        <span style="float: right; font-weight:normal;">
            <i>{{time_to_date(c.time)}}</i>
        </span>
    </p>
    <p class="annonce">{{c.text}}</p>
</li>
{% endfor %}
</ul>
</div>
{% endblock %}